h2 {
  font-family:'Montserrat', sans-serif;
}
.list {
  font-family:'Montserrat', sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #fff;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
  margin-left: 50px;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
li > a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
  color:#111;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left: 50px;
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #1abc9c;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#16a085;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.title {
    font-weight: bold;
}

.journal {
    font-style: italic;
    font-size: small;
}

.year {
    font-size: small;
}

.link_journal, .link_pdf, .link_supplement, .link_preregistration {
    color: #1abc9c;
    word-wrap: break-word;
    font-weight: normal;
}